/* ==== BROWSER RESETS  ==== */
* { box-sizing: border-box; padding: 0; margin: 0 }
body, html { height: 100% }
body { max-width: 1600px; margin: 0 auto }


/* ==== UTILITY CLASS  ==== */
.img-fluid { width: 100%; height: auto }



/* ==== HEADING AND PARAGRAPH STYLES  ==== */
body { font-family: sans-serif}

.page-wrapper h1 { color: deeppink }
.page-wrapper p  { color: #32364E }

/* Desktop */
@media all and (min-width:767px) { 
	.page-wrapper {
		width: 72%;
		margin: 20px auto 60px auto;
	}
	.page-wrapper h1 { 
		font-size: 52px;
		margin-bottom: 2%
	}
	
	.page-wrapper p { 
		font-size: 17px;
		line-height: 1.5;
		margin-bottom: 16px;
	}
}

/* Mobiles */
@media all and (max-width:768px) { 
	.page-wrapper {
		width: 90%;
		margin: 12px auto 40px auto
	}
	.page-wrapper h1 { margin-bottom: 8% }
	.page-wrapper p { 
		font-size: 15px;
		line-height: 1.4;
		margin-bottom:12px;
		color: #222
	}
}

/* ==== BASIC HYPERLINK STYLES ==== */

